body {
    background-color: rgb(23, 27, 46);
    background-image: none;
}

#underline {
    height: 3px;
    background-color: white;
    transform: scale(0.1, 1);
    margin-top: 2px;
}


.gamedle-section {
    background: rgba(66, 62, 62, 0.5);
    color: white;
    margin: 50px;
    margin-left: 200px;
    margin-right: 200px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: gray 0 0 4px;
}

#flag img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: gray 0 0 7px;
}

#flag {
    color: white;
    padding: 2%;
    display: inline-block;
    text-align: center;
}

input {
    margin: 80px;
    width: 500px;
    height: 40px;
    background-color: rgb(42, 42, 42);
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: gray 0 0 7px;
}

button {
    margin: 5%;
    background: rgb(66, 62, 62);
    transform: scale(2, 2);
}

button:hover {
    background-color: rgb(90, 83, 83);
}

@media screen and (max-width: 715px) {
    #flag {
        transform: scale(0.8, 0.8);
    }

    .gamedle-section {
        margin-left: 70px;
        margin-right: 70px;
    }

    input {
        width: 200px;
    }

    #underline {
        transform: scale(0.3, 1);
    }
}