h1.title{
    font-size: 50px;
    text-align: center;
}

section.description {
    text-align: center;
    font-size: 25px;
}

body {
    background-image: url("Images/E-Cafe.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: Helvetica, Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(42, 42, 42);
    background-image: url("Images/TopBarNight.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding: 2%;
    text-align: center;
}

header .logo a{
    margin: 1%;
    background-image: url("Images/E-CafeIcon.png");
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    background-size: 100%;
    height: 200px;
    width: 200px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 0 7% 0 0;
    font-size: 40px;
}

button {
    background: rgb(42, 42, 42);
    color: white;
    transform: scale(3, 3);
    width: 80px;
    margin: 5%;
    position: absolute;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: blue;
}

iframe.discord {
    margin-top: 20%;
    display: flex;
    justify-content: left;
    margin-bottom: 0%;
}

.features img {
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: gray 0 0 20px;
}

.features {
    color: white;
    padding: 2%;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.center {
    text-align: center;
}

footer {
    background-color: rgb(42, 42, 42);
    text-align: center;
    padding: 20px 20px;
    color: gray;
}