html {
    scroll-behavior: smooth;
}

.title{
    font-size: 50px;
    text-align: center;
}

.description {
    text-align: center;
    font-size: 25px;
    margin-bottom: 200px;
}

body {
    background-image: url("Images/E-Cafe.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: Helvetica, Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-image: url("Images/TopBarNight.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    padding: 2%;
    text-align: center;
    top: 0px;
}

header .logo a{
    background-image: url("Images/E-CafeIcon.png");
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    background-size: 100%;
    height: 100px;
    width: 100px;
    text-indent: -999999999999999999999999999999px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 0 7% 0 0;
    font-size: 30px;
}

button {
    background: rgb(195, 195, 20);
    color: white;
    transform: scale(3, 3);
    margin: 7%;
    text-align: center;
    border-radius: 10px;
    box-shadow: gray 0 0 1px;
}

button:hover {
    background-color: rgb(255, 255, 0);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: blue;
}

.features img {
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: gray 0 0 20px;
    width: 300px;
    height: 300px;
}


.features {
    color: white;
    padding: 2%;
    display: inline-block;
    text-align: center;
}

.screenshots img{
    border-radius: 40px;
    width: 480px;
    height: 270px;
}

.screenshots{
    color: white;
    display: inline-block;
    text-align: center;
    margin: 2%;
}

footer {
    background-color: rgb(42, 42, 42);
    text-align: center;
    padding: 20px 20px;
    color: gray;
    margin-top: -50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}


.mobile {
    display: none;
    font-size: 28px;
    transform: scale(0.5, 0.5);
    text-align: center;
}

@media screen and (max-width: 715px) {
    .features {
        transform: scale(0.7, 0.7);
    }

    .screenshots {
        transform: scale(0.7, 0.7);
    }

    .discord {
        transform: scale(0.6, 0.6);
    }   

    header .mobile {
        display: flex;
        flex-direction: row;
    }

    header .desktop {
        display: none;
    }

    .logo {
        width: 100px;
        height: 100px;
    }

    #flag {
        transform: scale(0.15, 0.15);
    }
}

.discord {
    margin: 5%;
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
}