html {

    scroll-behavior: smooth;

}

.title {
    font-size: 50px;
    text-align: center;
}

.description {
    text-align: center;
    font-size: 30px;
    margin-bottom: 200px;
    margin-left: 10%;
    margin-right: 10%;
}

.spacer {
    margin-top: 500px;
}

body {
    background-image: url("Images/backround.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: Helvetica, Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #60a37c;
    background-position: top;
    text-align: center;
    top: 0px;
    height: 80px;
}

header .logo a {
    background-image: url("Images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-indent: -9999999%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

li {
    display: inline-grid;
    margin: 10px 10px 0px 0px;
    font-size: 30px;
    margin: 1%;
    text-align: center;
    float: left;
}

button {
    background: rgb(42, 50, 127);
    color: white;
    transform: scale(4, 4);
    margin: 7%;
    border: none;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    padding: 3px;
}

button:hover {
    /*background: rgb(146, 199, 249);*/
    padding: 5px;
    border-radius: 8px;
    transition: 200ms;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    font: roboto;
    font-family: "Roboto";
}

a img:hover {
    border: 2px solid white;
}

.features img {
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: gray 0 0 20px;
    width: 300px;
    height: 300px;
}

.features {
    color: white;
    padding: 2%;
    display: inline-block;
    text-align: center;
}

.screenshots img {
    border-radius: 40px;
    width: 480px;
    height: 270px;
    transform: scale(2, 2);
}

.screenshots {
    color: white;
    display: inline-block;
    text-align: center;
    margin: 2%;
}

.mobile {
    display: none;
    text-align: left;
    overflow-x: scroll;
}

.mobile li {
    font-size: 30px;
}

@media screen and (max-width: 1100px) {
    .features {
        display: inline-grid;
        transform: scale(1.8, 1.8);
        margin: 18%;
        justify-content: center;
    }

    .screenshots {
        flex-direction: column;
    }

    header .mobile {
        display: flex;
    }

    header .desktop {
        display: none;
    }

    .screenshots img {
        transform: scale(1.5, 1.5);
    }

    body {
        background-image: url("Images/backgroundVertical.png");
        background-attachment: scroll;
    }

}

.underline {
    text-decoration: underline;
    color: white;
}
